.container {
    display: flex;
    gap: 20px;
    align-items: center;
    margin-top: 40px;

    font-family: "Rubik", sans-serif;
    color: #666666;
    font-size: 18px;
    line-height: 1.6;
    white-space: nowrap;
}