.container {
    background-color: #f9f9f9;
    padding: 80px 15px 40px 15px;
}

.wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.links {
    display: flex;
    flex-direction: column;
    gap: 20px;

    & a {
        color: #111111;
    }
}

.logoWrapper {
    padding-left: 280px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;

    .text {
        font-size: 14px;
        color: #4e901a;
    }
}

.contactsWrapper {
    max-width: 280px;
}

.address {
    font-size: 12px;
    text-align: right;
    color: #434343;
    line-height: 1.6;
}

@media screen and (max-width: 860px) {
    .logoWrapper {
        display: none;
    }
    .contactsWrapper {
        max-width: none;
        width: 100%;
        .address {
            text-align: center;
        }
    }
}

@media screen and (max-width: 580px) {
    .container {
        padding-top: 40px;
    }
    .wrapper {
        flex-direction: column;
        gap: 20px;
    }
    .links {
        flex-direction: row;
        width: 100%;
        justify-content: center;
    }
}

